.user-profile-container{
    width: 100%;
    padding: 14px;
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 20px;
}
.labbacimg{
  background-image: url("../../../Assets/Images/labimage-transformed.jpeg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center  ;
 
}
.assesmentimg{
  background-image: url("../../../Assets/Images/assesment.webp");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 1% 38%  ;
  background-size: 100%;
}

.zoommeeting{
  background-image: url("../../../Assets/Images/joinnow.jpeg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: 1% 38%  ;
  background-size: 100%;
}
.user-pf{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    border: 1px solid #ddd;
    justify-content: center;
    display: grid;
}
.left-details {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-right: 15px;
    padding: 15px 15px;
    max-height: 550px;
}
.user-activity{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 15px;
    /* box-shadow: 0px 3px 6px #00000029; */
    margin-bottom: 20px;
    flex-direction: column;
    max-width: 192px;
    flex: 1;
    margin: 0 5px;
    text-align: center;
    border: 1px solid #ddd;

}
.activities-btn{
    width: 55px;
    height: 60px;
    background: #2D62ED;
    border-radius: 6px;
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 6px #272d3b33;
}
.training-progress{
    width: 120px;
    text-align: center;
}

/* tabs */

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 10px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 5px;
    /* width: 22px; */
    height: 1px;
    color: #06c;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    color: #06c;
  }
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #06c;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
   
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }
  
 
  
  .tabset {
    max-width: 65em;
  }

  .modal {
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-container {
    position: absolute;
   
    background: #ffffff;
    left: 25%;
    top: 10%;
    padding: 20px;
  }
  iframe{
    margin: 0;
    padding: 0;
  }
  viewer-toolbar{
    display: none !important;
  }
