.report-container{
    width: 100%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.116);
    display: flex;
}
.chart-report{
    padding: 20px 10px;
    width: 100%;
}
.report-action{
    width: 370px;
    background: #f9f9f9;
    border: 1px solid #ececec;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.action-list{
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
}
.action-list path{
    fill: #00CCF2;
}
.action-list .title-lg{
    color: #00CCF2;
}
.action-list-top{
    /* border-bottom: 0px solid !important; */
}

table {
    font-family: Georgia, Bold;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #70707030;
    

   
  }
  .css-fnnlp4-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #fff;
    background-color: #F1844D !important;
  }
  td, th {
    border: 1px solid #70707030;
    text-align: center;
    /* color: #F1844D; */
    padding: 8px;
    font-size: 16px;
    font-family: Georgia, Bold;
  }
  tr {
      background-color: white;
      font-size: 16px;
      font-family: Georgia, Bold;
      /* border: 1px solid #707070; */
  }
  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
    background-color: #49167E;
    /* margin-right: -30px; */
   /* margin-left: 20px;
    margin-right: 20px; */
    padding: 20px;
    border-radius: 10px;
}


  /* .btnmdl{
    background-color:#F1844D;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    margin-left: 130px;

  } */
 


  
    
    
@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #707070;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .maindiv{
        display: contents;
        flex-direction: column;
    }
    .lbl{
        margin-bottom: 5px;
    }
  
}







