.zoom-cl{
    width: 400px;
    height: 400px;
    
}

/* loadin joining meeting */
.loading-main {
    position: absolute;
    top: 50%;
    left: 30% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.gallery-video-container__main-view {
    margin-top: 0px;
}
.join-audio-container__btn {
    float: left;
    width: 48px;
    height: 52px;
    border-radius: 0;
    border: none;
    padding: 4px 0 0 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.send-video-container__btn {
    float: left;
    width: 60px;
    height: 52px;
    border-radius: 0;
    border: none;
    padding: 4px 0 0 0;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-break: break-all;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5)
}
.security-option-menu {
    float: left;
    background-color: transparent;
    display: none;
}
.more-button{
    display: none !important;
}
.sharer-controlbar-container__caption {
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    vertical-align: middle;
    font-weight: 600;
    font-size: 12px;
    -webkit-box-flex: 1
}
.sharer-button {
    display: inline-block;
    margin-right: 9px;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 12px;
    background: none;
    color: #FFFFFF;
    vertical-align: middle;
    border: 1px solid #FFFFFF;
}
.audio-option-menu {
    float: left;
    display: none;
    background-color: transparent;
}
.video-option-menu__button {
    height: 100%;
    cursor: pointer;
    float: left;
    background-color: transparent;
    /* width: 20px; */
    border: none;
    display: none;
    border-radius: 0;
}

.meeting-close{
    height: 100%;
    width: 100%;
    padding-left: 16%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: #222020;
}

/* #zmmtg-root {
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0% !important;

    background-color: yellow !important;
    justify-content: left !important ;
   
    
} */
div#zmmtg-root {
    margin-top: 96px !important;
    border-radius: 10px !important;
}
#zmmtg-root {
    width: 47% !important;
    height: 86% !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    background-color: #000 !important;
}
.om{
    background: white;
    height: 548px;
    width: 1600px;
    display: flex;
    justify-content: left !important;
    align-items: center;
    overflow: hidden scroll;
}
.media-preview-container{
    margin: 10px 860px 0px 10px !important;
    padding: 20px;
    background-color: black;
    margin-bottom: 150px !important;
}

/* full screen Zoom video css */
.footer__btns-container {

    margin-left: -220px  ;
    width:350px
}
/* .footer__leave-btn-container {
   
    margin-right: 620px ;
} */
.single-main-container__video-frame {
    position: initial !important;
}

.meeting-info-container--right-side {
    right: 10px !important;
    left: 80px !important;
    top: 12px;
    height: 32px;
    z-index: 101;
}
#wc-content {
    
    margin-left: 820px !important;
}
.send-video-container__btn{
    margin-left: -22px !important;
}
.footer-button-base__button{
    display: grid;
}
.video-avatar__avatar{
    margin-left: -1200px !important;
    width: auto !important;
}
.video-avatar__avatar-name{
    font-size: 30px !important;
}