.product {
    
    padding: 5px;
   
   
    
    cursor: pointer;
    
}

.product-text {
    float: left;
    width: auto;
    display: flex;
    font-size:14px
}
/* .product:hover .product-text {
    display: flex;
} */
.modalprogress{
    position: absolute;
    background: #ffffff;
    left: 25%;
    top: 10%;
    padding: 0;
}